*{
    text-align: center;
}
button{
    width: 6%;
    height: 6.7%;
    border: none;
    position: relative;
    left: 20%;
    background-color: white;
    
}
button:hover{
    color: rgb(177, 168, 168);
}
svg{
    width: 90%;
    height: 100%;
}
img{
    width: 100%;
    height: 100%;
    align-content: center;
}
.spotify{
    width: 12%;
    height: 22%;
    padding: 1%;
    border-radius: 20%;
    align-content: center;
    left: 43.7%;
    position: relative;
    margin-top: 2%;
}
.spotify:hover{
    background-color: black;
}
h1{
    font-size: 4rem;
    margin-bottom: 2%;
    word-spacing: 60%;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    font-size: 1.7rem;
    margin-top: 1%;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media (max-width: 450px){
   
   h1{
    font-size: 2.6rem;
    margin-bottom: 8%;
    margin-top: 0%;
   }
   button{
    width: 16%;
    height: 5%;
    left: 6%;
}
.spotify{
    width: 20%;
    height: 12%;
    padding: 1%;
    border-radius: 20%;
    align-content: center;
    left: 40%;
    position: relative;
    margin-top: 1%;
}
}