/* You can add global styles to this file, and also import other style files */
@media (max-width: 801px) {
  h3{
      font-size: 8rem;
  }

}

@media (min-width: 601px) {

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
  