<router-outlet></router-outlet>
<ul class="contain">

  <li>
    <button class="music">Music
      <label style ="margin-left:1%;float: right; "class="switch">
      <input class ="check1"type="checkbox">
      <span class="slider round"></span>
      </label><br>
      <p>Turn on or off the music on for your focus time.</p> 
  
    
      
    </button>  
  </li>
  <li><a routerLink="default">
  <button>Default Music<i class="bi bi-arrow-right"></i>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
    </svg><p>Select a playlist from our music library to set as default.</p>
  
  </button></a>
  
  </li>
  <li><a routerLink="sync">
  <button>Sync Music<i class="bi bi-arrow-right"></i>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
    </svg><p>See and manage the music app connected to your account.</p>
  
  </button></a>
  
  </li>
  <li><a routerLink="playlist">
  <button>Set Playlist<i class="bi bi-arrow-right"></i>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
    </svg> <p>Set your own playlist as default music.</p>
  </button>
   </a>
  
  </li>
</ul>